<section class="paginas-internas">
        <section class="welcome2">
        <div class="texto-encabezado text-xs-center align">
                    <div class="container">
                        <h1 class="display-4">Nosotros</h1>
                        <p class="wow bounceIn" data-wow-delay=".3s">¿Quienes somos? y ¿Que hacemos?.</p>
                    </div>
        </section>
        <section class="route py-1">
        <div class="container">
        </div>
    </section>
        <main class="py-1">
                <div class="container">
                    <div class="row">
                        <article class="col-md-8">
                            <h2>Somos MaesExpress</h2>
                            <p>
                               Somos una empresa solida fundada en 1994, comenzamos en la industria del transporte de carga como mudanza local, luego expandimos nuestros servicios a mudanzas internacional, servicios de carga expeditos y encomiendas. Con más de 20 años trabajando en la competitiva industria del transporte de carga, aquí nos esmeramos cada día mas, para ofrecerle un mejor servicio de esa manera disfrute de un servicio rápido, libre de estrés y muy seguro. 
                            </p>
                            <p>
                            Contamos con un gran equipo de trabajo, modernos vehículos, tecnología de ultima vanguardia en todos nuestros departamentos y proveedores de logística de primer nivel todo esto para servir a nuestros clientes de manera rápida y eficiente.
                            </p>
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <h4 class="panel-heading">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#tab-mision"> MISIÓN </a>

                                    </h4>
                                    <div id="tab-mision" class="panel-collapse collapse in">
                                        <p>
                                            Nuestra Visión, llegar a ser la empresa líder a nivel nacional e internacional en el servicio de transporte de carga. 
                                        </p>
                                    
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <h4 class="panel-heading">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tab-vision" >VISIÓN</a>

                                    </h4>
                                    <div id="tab-vision" class="panel-collapse collapse">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </p>
                                        <p>
                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                        </p>

                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <h4 class="panel-heading">

                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#tab-valores" >
                VALORES
                </a>

                                    </h4>
                                    <div id="tab-valores" class="panel-collapse collapse">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        </p>
                                        <p>
                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                        </p>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <aside class="col-md-4">
                            <img src="../img/box.svg" alt="Nosotros">
                        </aside>
                    </div>
                </div>
            </main>
    