
<section class="welcome"> <!-- .cover-->
 <div class="align text-xs-center  texto-encabezado">
    <div class="container">
        <h1 class="display-4 wow fadeIn ">Envio de encomiendas y transporte de carga</h1>
         <p class="lead wow bounceIn"  data-wow-delay=".3s">Llevamos su carga a cualquier parte de  Honduras y Centroamerica</p>
             <a href="#" class="btn btn-primary btn-lg">Inicia Sesión </a>
             <br><br><br>
             <label class="space">Eres un cliente nuevo?</label>
             <label><a href="/register" class="">Registrate Ahora</a></label>
     </div>
    
   
 </div> 
   <div class="arrow align ">
        {{!--<span class="glyphicon glyphicon-menu-down" aria-hidden="true">--}}
            <a data-scroll href="#rates"><i class="fa fa-calculator" aria-hidden="true"></i></span></a>
        </div>

</section>

<section class="company" >
       <div class="container">
            <div class="row comp">
                <div class="col-md-8 col-xl-9 wow bounceIn" data-wow-delay=".3s">
                    <h2 class=" text-xs-center text-md-left font-weight-bold align ">Agencia de Envios</h2>
                    <p class=" text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum ipsa, similique maiores provident numquam non sequi est animi, id soluta, neque autem recusandae pariatur quasi cupiditate velit. Quis, delectus.</p>
                    <p class=" text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quia natus voluptates nobis, cumque distinctio, laboriosam nisi reprehenderit dolor quibusdam quasi? Magni repellendus ullam sunt amet sint officia similique distinctio..</p>
                </div>
                <div class="col-md-4 col-xl-3 wow bounceIn" data-wow-delay=".6s">
                    <img src="img/open-box.svg" style="width: 60%" alt="company">
                </div>
            </div>
        </div>

</section>

<section class="rates" id="rates">
<div class="container">
            <div class="row comp">
                 <div class="col-md-4 space-col">
                    <h2 class="text-xs-center font-weight-bold align wow bounceIn">Cotizaciones</h2>
                    <hr>
                        <p class="text-xs-center text-justify align  wow bounceIn"  data-wow-delay=".3s">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident et, temporibus, inventore, repellat, molestiae facilis labore explicabo sit tempore voluptas animi. Labore culpa animi unde natus, veritatis sunt omnis praesentium.
                        </p>
                        <center>
                        <img  class="wow bounceIn" data-wow-delay=".6s"src="img/calculator.svg" style="width: 40%" alt="company ">
                        </center>
                </div>
                <br><br>
                <div class="col-md-4">
                     <h3 class=" wow bounceIn">Origen</h3>
                      <form name="rates" class="form-signin wow bounceIn" data-wow-delay=".8s">
                       
                        <hr>
                                <label for="Id">Estado</label>
                                <select class="selectpicker form-control " id="state" data-style="btn-default" >
                                <option value="1">Virginia</option>
                                <option value="2">California</option>
                                <option value="3">New York</option>
                                <option value="4">Los Angeles</option>
                                <option value="5">Dealaware</option>
                                </select>
                            
                                <label for="city" >Ciudad</label>
                                <input type="text" id="city" class="form-control obligatorio">
                        
                                    <label for="zipCode" >Codigo postal</label>
                                <input type="number" id="zipCode" class="form-control">
                      </form>
                                </div>
                                   <div class="col-md-4">
                                          <h3 class=" wow bounceIn">Destino</h3><hr>
                                    <form name="rates" class="form-signin wow bounceIn" data-wow-delay=".8s">
                                             

                                                <label for="country">Pais</label>
                                                <select class="selectpicker form-control " id="country" data-style="btn-default" >
                                                <option value="1">Honduras</option>
                                                <option value="2">Guatemala</option>
                                                <option value="3">El Salvador</option>
                                                <option value="4">Nicaragua</option>
                                                </select>
                                                
                                                <label for="depto">Deparatamento o Provincia</label>
                                                <select class="selectpicker form-control " id="country" data-style="btn-default" >
                                                <option value="1">Francisco Morazan</option>
                                                <option value="2">La Esperanza</option>
                                                <option value="3">Cortes</option>
                                                </select>
                                            
                                                <h3>Info. Paquete</h3><hr>

                                            <label for="ctp">Cantidad de paquetes</label>
                                            <input type="number" id="cant" class="form-control ">

                                            <label for="weigth">Peso en Kg</label>
                                            <input type="number" id="weigth" class="form-control ">
                                        
                                                <label for="dimensions">Dimensiones</label>
                                                <select class="selectpicker form-control " id="country" data-style="btn-default" >
                                                <option value="1">22x22</option>
                                                <option value="2">22x30</option>
                                                <option value="3">30x30</option>
                                                </select>
                                                <br>
                                                   
                                      </form>
                                      <button type="button"  class="btn btn-danger btn-lg wow bounceIn" data-wow-delay=".8s">Limpiar</button>
                                      <button type="button"  class="btn btn-primary btn-lg wow bounceIn" data-wow-delay=".8s">Generar</button> 
                                   </div>
                                   
                </div> 
        </div>
</section><br><br>
