<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/css/style.css'/>
     <link rel='stylesheet' href='/css/animate.min.css'/>
     <link rel='stylesheet' href='/css/font-awesome.min.css' type="text/css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
    
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/style.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="js/inicioSesion.js"> </script>
    <script src="js/registro.js"> </script>
    <script src="js/httpRequest.js"> </script>
    <script src="js/menu.js"></script>
    <script src="js/cookies.js"></script>
  </head>
  <body>
   <header class="encabezado">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
              <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                       <span class="glyphicon glyphicon-menu-hamburger menuicon" aria-hidden="true"></span></a>
                    </button><!-- .navbar-toggle -->
                    <a class="navbar-brand logo" href="/">
                      <img src="../img/maesexpress.png">
                    </a><!-- .navbar-brand -->
              </div><!-- .navbar-header -->
                   
              <div class="collapse navbar-collapse align alignTop ">
                    <ul class="nav navbar-nav navbar-right" id="navegacion">
                    </ul>
              </div><!-- .collapse -->

        </div><!-- .container-->
      </nav><!-- .navbar -->
    </header>
      
    {{{body}}}
         <footer class="pagefooter py-1" role="contentinfo">
            <div class="container">
                <p>2017 © MAESEXPRESS Todos los derechos reservados</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"> </i>  </a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
                </ul>
            </div>
    </footer>
  </body>
</html>
