<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
            <form method="post" action="#" role="login">
            <img src="../img/box.svg" class="img-responsive wow bounceIn" data-wow-delay=".2s"style="width: 60%" alt="" />
            <input type="nombreUsuario" name="email" placeholder="Nombre de usuario" required class="form-control input-lg"  />
            <input type="password" class="form-control input-lg" id="password" placeholder="Contrase침a" required="" />        
            <div class="pwstrength_viewport_progress"></div>      
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#errorMessage">Iniciar sesi칩n</button>
            <div>
                <a href="/register">Crear cuenta</a> or <a href="#">recuperar contrase침a</a>
            </div>
            
            </form>
            
            <div class="form-links">

            </div>
      </section>  
      </div>
      <div class="col-md-4"></div>
  </div>     
</div>
<br>



    <!-- Modal 1  -->
    <div class="modal fade" id="errorMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center>
                    <h2 class="modal-title">Algo salio mal</h2>
                    </center>
                </div>
                <div class="modal-body"  id="align"><!-- div body -->
        <p class="lead align">su nombre de usuario o contrase침a esta incorrecto
          Intentelo otra vez
        </p>
        <center>
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Aceptar <br/>   <span class="glyphicon glyphicon-remove" id="erroricon" ></span></button>
        </center>
      </div><!-- div body -->
            </div>
        </div>
    </div>


   