<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
            <form method="post" action="#" role="login">
            <img src="../img/box.svg" class="img-responsive" style="width: 60%" alt="" />
            <input type="nombreUsuario" name="email" placeholder="Nombre de usuario" required class="form-control input-lg"  />
            <input type="password" class="form-control input-lg" id="password" placeholder="contraseña" required="" />        
            <div class="pwstrength_viewport_progress"></div>      
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Iniciar sesión</button>
            <div>
                <a href="/register">Crear cuenta</a> or <a href="#">recuperar contraseña</a>
            </div>
            
            </form>
            
            <div class="form-links">

            </div>
      </section>  
      </div>
      <div class="col-md-4"></div>
  </div>     
</div>