<section class=" login-form" id="rates" >
<div class="container">
            <div class="row spaceRegister">
                 <div class="col-md-4 ">
                 <h1 class="display-4 align justify-text">Crea tu cuenta y registrate en nuestra lista de clientes</h1>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aliquam minima, accusamus porro exercitationem, nihil odio reiciendis autem, quisquam magni odit? Provident optio fugit omnis voluptate cupiditate, dolores deserunt corporis?</p>
                 </div>
                 <div class="col-md-4 ">
                     <form name="rates" id="de" class="form-signin">
                        <h3>Información de contacto</h3>
                        <hr>
                                <label for="name" >Nombre</label>
                                <input type="text" id="name" class="form-control  noVacio">

                                 <label for="idNumber" >Numero de identidad</label>
                                <input type="number" id="idNumber" class="form-control  noVacio">
                        
                                <label for="email" >Email</label>
                                <input type="email" id="email" class="form-control ">

                                      <label for="comp" >Compania</label>
                                <input type="text" id="comp" class="form-control ">

                                  <label for="dir" >Dirección</label>
                                <input type="text" id="dir" class="form-control">
                                
                            
                         
                                 <label for="city" >Ciudad</label>
                                <input type="text" id="city" class="form-control">

                                <label for="zipCode" >Codigo postal</label>
                                <input type="number" id="zipCode" class="form-control">

                                   
                                <label for="country">Pais</label>
                                <select class="selectpicker form-control " id="country" data-style="btn-default" >
                                <option value="1">Honduras</option>
                                <option value="2">Guatemala</option>
                                <option value="3">El Salvador</option>
                                <option value="4">Nicaragua</option>
                                </select>
                        
                             <label for="Id">Estado</label>
                                <select class="selectpicker form-control " id="state" data-style="btn-default" >
                                <option value="1">Virginia</option>
                                <option value="2">California</option>
                                <option value="3">New York</option>
                                <option value="4">Los Angeles</option>
                                <option value="5">Dealaware</option>
                                </select>
                                    
                            
                                
                                 <label for="tel" >Telefono</label>
                                <input type="number" id="tel" class="form-control noVacio">
                         
                                 <label for="cell" >Movil</label>
                                <input type="number" id="cell" class="form-control">
                     </form>
                        
                </div>
                <div class="col-md-4">
                        <h3>Inicio de sesión</h3>
                          <form name="register" id="de" class="form-signin">
                        <hr>
                                <label for="userId" >Nombre de usuario</label>
                                <input type="text" id="userId" class="form-control noVacio">

                                  <label for="password" >Contraseña</label>
                                <input type="password" id="password" class="form-control noVacio">
                                
                                <label for="passwordConf" >Verificar contraseña</label>
                                <input type="password" id="passwordConf" class="form-control noVacio">
                                <h4 class="error" id="mensajeContrasenia" data-wow-delay=".3s"></h4>
                       
                                 <br>
                                <label for="answer">Terminos y condiciones</label>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis alias saepe dolore consequuntur, non eaque enim itaque dolorum cupiditate quas, in inventore dolores vel. Illum repellendus eligendi eius pariatur magnam!
                                  <input type="radio" name="Terms" value="false">

                                    <br><br>      
                        </form>
                                    <button type="button"  class="btn btn-danger btn-lg">Cancelar</button>
                                    <button type="button" onclick="enviarRegistro()" class="btn btn-primary btn-lg">Continuar</button>
                </div> 
                
        </div>
</section><br>



  <!-- Modal 1  -->
    <div class="modal fade" id="registerErrorMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                {{!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center>
                    <h2 class="modal-title">Algo salio mal</h2>
                    </center>
                </div>--}}
                <div class="modal-body fondo"  id="align"><!-- div body -->
        <p class="lead align"> No se pudo registrar el usuario algunos campos 
          necesitan ser llenados 
        </p>
        <center>
        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Aceptar <br/>   <span class="glyphicon glyphicon-remove" id="erroricon" ></span></button>
        </center>
      </div><!-- div body -->
            </div>
        </div>
    </div>

    <!-- Modal 2  -->
    <div class="modal fade" id="registerConfirmationMessage" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                
                <div class="modal-body fondo"  id="align"><!-- div body -->
                 <center>
                    <h4 class="modal-title">Usuario registrado con exito</h4>
                    </center>
                    <br>
        <center>
        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Continuar<br/>  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i> </button>
        </center>
      </div><!-- div body -->
            </div>
        </div>
    </div>
