<section class=" login-form" id="rates" >
<div class="container">
            <div class="row">
                 <div class="col-md-4 ">
                 <h1 class="display-4 align">Crea tu cuenta y registrate en nuestra lista de clientes</h1>
                 </div>
                 <div class="col-md-4 ">
                     <form name="rates" class="form-signin">
                        <h3>Información de contacto</h3>
                        <hr>
                                <label for="name" >Nombre</label>
                                <input type="text" id="name" class="form-control obligatorio">
                        
                                    <label for="email" >Email</label>
                                <input type="text" id="email" class="form-control">

                                  <label for="dir1" >Dirección 1</label>
                                <input type="text" id="dir1" class="form-control obligatorio">
                                
                                  <label for="dir2" >Dirección 2</label>
                                <input type="text" id="dir2" class="form-control obligatorio">
                         
                                 <label for="city" >Ciudad</label>
                                <input type="text" id="city" class="form-control obligatorio">
                        
                             <label for="Id">Estado</label>
                                <select class="selectpicker form-control " id="state" data-style="btn-default" >
                                <option value="1">Virginia</option>
                                <option value="2">California</option>
                                <option value="3">New York</option>
                                <option value="4">Los Angeles</option>
                                <option value="5">Dealaware</option>
                                </select>
                                    
                               
                                <label for="country">Pais</label>
                                <select class="selectpicker form-control " id="country" data-style="btn-default" >
                                <option value="1">Honduras</option>
                                <option value="2">Guatemala</option>
                                <option value="3">El Salvador</option>
                                <option value="4">Nicaragua</option>
                                </select>
                                
                                 <label for="tel" >Telefono</label>
                                <input type="number" id="tel" class="form-control obligatorio">
                         
                                 <label for="cell" >Movil</label>
                                <input type="number" id="cell" class="form-control obligatorio">
                        </form>
                </div>
                <div class="col-md-4">
                      <form name="rates" class="form-signin">
                        <h3>Inicio de sesión</h3>
                        <hr>
                             
                            
                                <label for="userId" >Crear ID de usuario</label>
                                <input type="text" id="userId" class="form-control obligatorio">

                                  <label for="password" >Crear contraseña</label>
                                <input type="text" id="password" class="form-control obligatorio">
                                
                                <label for="passwordConf" >Verificar contraseña</label>
                                <input type="text" id="passwordConf" class="form-control obligatorio">
                                
                                                    
                                <label for="question">Pregunta de seguridad</label>
                                <select class="selectpicker form-control " id="question" data-style="btn-default" >
                                <option value="1">como se llama tu novia?</option>
                                </select>

                                <label for="answer">Respuesta</label>
                                <input type="text" id="answer" class="form-control ">
                                 <br>
                                <label for="answer">Terminos y condiciones</label>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis alias saepe dolore consequuntur, non eaque enim itaque dolorum cupiditate quas, in inventore dolores vel. Illum repellendus eligendi eius pariatur magnam!
                                  <input type="radio">

                                    <br><br>      
                        </form>
                                    <button type="button"  class="btn btn-danger btn-lg">Cancelar</button>
                                    <button type="button"  class="btn btn-primary btn-lg">Continuar</button>
                </div> 
                
        </div>
</section><br>