 <section class="paginas-internas">
        <section class="welcome3">
        <div class="texto-encabezado text-xs-center align">
                    <div class="container">
                        <h1 class="display-4 wow bounceIn">Servicios</h1>
                        <p class="wow bounceIn" data-wow-delay=".3s">Nuestros Servicios</p>
                    </div>
        </section>
   
   
    <main class="py-1 servicesList">
        <div class="container">
            <div class="row comp">

                <div class="col-md-4">
                    <article class="services-item">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <h4>Transporte Terrestre</h4>

                        <p>
                            Transporte de todo tipo de carga Recogemos su carga desde cualquier punto de los Estados Unidos y lo transportamos hasta su punto de destino ya se vía terrestre o marítimo.
                        </p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#servicio1">Más información</a>

                    </article>
                </div>


                <div class="col-md-4">
                    <article class="services-item">
                        <i class="fa fa-anchor" aria-hidden="true"></i>
                        <h4>Transporte Maritimo</h4>
                        <p>
                           Enviamos su carga por vía marítima a cualquier parte puerto del mundo. transporte lo que usted desee desde cualquier punto en los estados unidos. 
                        </p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#servicio2">Más información</a>

                    </article>
                </div>

                <div class="col-md-4">
                    <article class="services-item">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <h4>Encomiendas por cajas</h4>
                        <p>
                           Contamos con diferentes tamaños , Precios según el volumen de su paquete no por peso. Envié lo que ya no usa a sus seres queridos e amigos en el extranjero.
                        </p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#servicio3">Más información</a>

                    </article>
                </div>

            </div>
        </div>
    </main>




