<section class="userWelcome"> <!-- .cover-->

<div class="align text-xs-center  texto-encabezado">
    <div class="container">
        <h1 class="display-4 wow fadeIn ">Bienvenido a MaesExpress</h1>
         <p class="lead wow fadeIn"  data-wow-delay=".3s">Hecha un vistaso a nuestros servicios online</p>
         <br><br>
         <div class="row wow fadeIn " data-wow-delay=".6s">
             <div class="col-md-4">
             <a href="/createShipment" class="btn btn-outline-secondary btn-lg btn-block font ">Crear un envio <br> <i class="fa fa-cart-plus" aria-hidden="true"></i> </a>
             </div>
             <div class="col-md-4">
             <a href="#" class="btn btn-outline-secondary btn-lg btn-block font ">Historial de Envios <br> <i class="fa fa-book" aria-hidden="true"></i> </a>
             </div>
             <div class="col-md-4">
             <a href="#" class="btn btn-outline-secondary btn-lg btn-block font">Administrar cuenta  <br> <i class="fa fa-cog" aria-hidden="true"></i></a>
             </div>
            
              
             
         </div>     
     </div>

     
    
   
 </div> 
  

</section>