html {
  font-size: 16px; }

body {
 font-family: 'Open Sans', sans-serif !important;
 font-size: 1.4em !important;
  
}

a {
  color: white;
}
.emptyAlert{
  border-color:red !important;
   
}

.error{
  color: red;
}

.spaceRegister{
  margin-top: -7px;
  margin-bottom: 30px;
}

 .logo img {
  width: 150px;
  height: auto; }

.display-4 {
  font-size: 45px;
  font-weight: 300; }

.texto-encabezado .display-4{
  margin-top: 64px;
}

.align{
  text-align: center;
}

.alignTop{
margin-top: 5px;
}

.space-col{
  margin-top: 3.5rem;
}

.header label{
  margin-top: 32px;
}
.welcome{
  background: url("../img/px.jpg") no-repeat center top !important;
   color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-orient: vertical ;
  -webkit-box-direction: normal ;
  -webkit-flex-direction: column ;
      -ms-flex-direction: column ;
          flex-direction: column ; 
  
}



.welcome2{
  background: url("../img/px.jpg") no-repeat center top !important;
   color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-orient: vertical ;
  -webkit-box-direction: normal ;
  -webkit-flex-direction: column ;
      -ms-flex-direction: column ;
          flex-direction: column ; 
  
}
.font-weight-bold {
    font-weight: bold;
}
.navbar-inverse {
    background-color: #111111;
    border-color: transparent;
}

.fondo{
    background-color: #111111;
    border-color: transparent;
    color: white;
}

.navbar-fixed-top {
    top: 0 !important;
    border-width: 0 0 0px !important;
}

.navbar {
    position: relative;
    min-height: 60px !important;
    margin-bottom: 10px;
    border: 1px solid transparent;
}


.space{
  margin-right: 20px;
}
.texto-encabezado{
   -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-encabezado .btn-primary{
  margin-top: 16px; 
}


.btn-primary {
  color: #fff;
  background-color: #F26235 !important;
  border-color: transparent !important;
   
 }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: #0D6EB7 !important;
  border-color: transparent !important; }
.menuicon{
   color: white;
  font-size: 28px;
  
}
.arrow a {
  display: inline-block;
  color: white;
  font-size: 64px;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
          animation: flecha-animada 2s ease-in-out infinite; }

@-webkit-keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }


/*-----------------------------
company
------------------------------*/
.company {
  background: #F26235;
  color: #fff;
  
   }
   .comp{
     padding-top: 5em;
     padding-bottom: 5em;
   }

.company img {
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
  display: block; }


  /*-----------------------------
 Page Footer
------------------------------*/

.pagefooter {
  height: 25vh;
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: 16px;
  }

.pagefooter .social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.pagefooter .social-icons a {
  color: #fff;
  font-size: 45px;
  margin: 0 8px;
  opacity: .7;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.pagefooter .social-icons a:hover {
  opacity: 1; }

  .py-1 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}



  /*-----------------------------
     Media querys
------------------------------*/

@media (min-width: 992px) {
    html {
      font-size: 16px; }
      

    .welcome{
      background: url("../images/fondo-encabezado-grande.jpg") no-repeat center top  ; 
      background-size: cover; }

      

    }



/*-------------------------------------------
Services
--------------------------------------------*/
.paginas-internas .servicesList {
  background: #0D6EB7; }

.paginas-internas .servicesList .services-item {
  background: #ffffff;
  text-align: center;
  border: 5px solid #0D6EB7;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 16px; }

.paginas-internas .servicesList .services-item .fa {
  font-size: 96px;
  color: #F26235;
  margin-bottom: 16px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }

.paginas-internas .servicesList .services-item:hover .fa {
  -webkit-transform: rotatex(360deg);
          transform: rotatex(360deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

 /*-----------------------------
     login
------------------------------*/


    .page-lock {
  margin: 90px auto 30px auto;
  width: 450px;
}

.page-lock .page-logo {
  text-align: center;
  margin-bottom: 15px;
}

.page-lock .page-body {
  width: 100%;
  margin-top: 50px;
  background-color: #3a4554;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

.lock-head {
  display: block;
  background-color: #323d4b;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #4db3a5;
}

.lock-body {
  display: block;
  margin: 35px;
  overflow: hidden;
}

.lock-avatar {
  margin-top: 15px;
  height: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.lock-form {
  padding-left: 40px;
}

.lock-form h4 {
  margin-top: 0px;
  color: #dbe2ea;
  font-size: 18px;
  font-weight: 400;
}

.lock-form .form-group {
  margin-top: 20px;
}

.lock-form .form-group .form-control {
  background-color: #303a48;
  border: none;
  width: 220px;
  height: 40px;
  color: #697687;
  border-radius: 0;
}

.lock-form .form-group .form-control::-moz-placeholder {
  color: #556376;
  opacity: 1;
}

.lock-form .form-group .form-control:-ms-input-placeholder {
  color: #556376;
}

.lock-form .form-group .form-control::-webkit-input-placeholder {
  color: #556376;
}

.lock-form .form-group .form-control:focus {
  background-color: #2b3542;
}

.lock-form .form-actions {
  margin-top: 20px;
}

.lock-form .form-actions .btn-success {
  background-color: #dbe2ea !important;
  width: 220px;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.lock-form .form-actions .btn-success:hover {
  background-color: #556376 !important;
}

.lock-bottom {
  display: block;
  background-color: #323d4b;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lock-bottom a {
  font-size: 14px;
  font-weight: 400;
  color: #638cac;
}

.lock-bottom a:hover {
  color: #7ba2c0;
}

@media (max-width: 768px) {
  .page-lock {
    margin: 100px auto;
  }
}
@media (max-width: 560px) {
  .page-lock {
    margin: 50px auto;
    width: 400px;
  }

  .lock-body {
    margin: 30px;
  }

  .lock-avatar {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }

  .lock-form h4 {
    font-size: 1rem;
  }

  .lock-form .form-group .form-control {
    padding: 20px 20px;
    width: 170px;
  }

  .lock-form .form-actions .btn-success {
    width: 170px;
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .page-lock {
    margin: 30px auto;
    width: 280px;
  }

  .lock-body {
    margin: 0px;
  }

  .page-lock .page-body {
    margin-top: 30px;
  }

  .lock-avatar {
    margin-top: 20px;
  }

  .lock-avatar-block {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .lock-form {
    padding-left: 20px;
  }

  .lock-form h4 {
    font-size: 16px;
    text-align: center;
  }

  .lock-form .form-group .form-control {
    padding: 20px 20px;
    width: 240px;
  }

  .lock-form .form-actions .btn-success {
    width: 240px;
    margin-bottom: 20px;
  }
}

@CHARSET "UTF-8";


.progress-bar {
    color: #333;
} 

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	
	}

.login-form {
	margin-top: 75px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 20px;
}
	.form-links a {
		color: #fff;
	}

  /*-----------------------------
     About Us
------------------------------*/

.paginas-internas .bienvenidos {
  height: 50vh; }

.paginas-internas .route {
  background: #F26235;
  color: #fff; }

.paginas-internas .route a {
  color: #fff;
  text-decoration: underline; }

.paginas-internas .route a:hover {
  text-decoration: none; }

.paginas-internas .panel .panel-heading {
  font-size: 20px; }

.paginas-internas .panel .panel-heading a {
  background: #F26235;
  color: #fff;
  display: block !important;
  padding: 16px  !important;
  border-radius: 5px  !important;
  text-decoration: none;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }

.paginas-internas .panel .panel-heading a:hover {
  background: #0D6EB7;
  color: #fff; }



